<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for signing up</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .header {
            display: block;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
        }
        .header img {
            width: 200px;
            height: 100px;
        }
        .header h1 {
            font-size: 32px;
            margin-top: 30px;
            text-align: center;
        }
        .main {
            padding: 20px;
            font-size: 24px;
        }
        .main p {
            text-align: center;

        }
        .footer {
            text-align: center;
            padding: 20px;
            border-top: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="header">
        <img src="<%= logoUrl %>">
        <h1>Welcome, <%= userName %></h1>
    </header>
    <main class="main">
        <p>Thanks for signing up on the Webster website.</p>
    </main>
    <footer class="footer">
        <p>&copy; 2024 Webster</p>
    </footer>
</div>
</body>
</html>
